@namespace Lagoon.UI.Components
@inherits LgComponentBase


<div class="@GetClassAttribute()">
    <div class="round round-top"></div>
    <div class="dotted-line"></div>
    <div class="round round-bottom"></div>
</div>