@namespace Lagoon.UI.Components
@using Lagoon.UI.Components.Internal
@inherits LgGridBaseCell<TItem>
@typeparam TItem

<div class="@GetClassAttribute()" role="columnheader">
    @if (_hasGroupName)
    {
        <span>@_groupName</span>
    }
</div>