//$custom_variable_def: value;
$gridview-sort-icon-width: 1em;
$gridview-summary-bg-color: #E0E3E9;
$gridview-summary-line-height: 1.2rem;
$gridview-summary-font-size: 0.7rem;
$gridview-columns-group-border-left: 2px solid white;
$gridview-columns-group-border-right: 4px solid white;
$gridview-rgaa-indicator: 2px dashed $primary;
$gridview-rgaa-indicator-offset: -2px;
$gridview-cell-maxwidth: 100%;
$gridview-group-margin: 30px;
$gridview-frozen-zindex: 15;
$gridview-cell-zindex: 10;
$dtg-row-selected: #D3DEE4;
$gridview-title-spaces: pre;
$gridview-content-wrap: break-spaces;