.about-header {
    .about-app-owner-logo {
        text-align: center;
        margin-top: 1rem;
    }
}

.about-footer {
    .developedBy-logo {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 1.5rem;
        vertical-align: unset;
    }
}
