.lbl {
    font-size: $font-size-base;
}

.btn {
    font-size: $font-size-base;
}

custom-radio custom-control-label {
    user-select: none;
}

/* LgCheckBox */
div.custom-control-right {
    padding-right: 24px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

div.custom-switch.custom-control-right {
    padding-right: 2.4rem;
}

div.custom-control-right .custom-control-label::after {
    right: -1.5rem;
    left: auto;
}

div.custom-control-right .custom-control-label::before {
    left: auto;
}

div.custom-control-right.custom-checkbox .custom-control-label::before {
    right: -1.5rem;
}

div.custom-control-right.custom-switch .custom-control-label::before {
    right: -2.35rem;
}

.custom-switch .custom-control-input:indeterminate ~ .custom-control-label::after {
    display: none;
}

.big-msg {
    text-align: center;

    & > .bi {
        width: auto;
        height: 7rem;
        margin: 1rem;
        color: $big-msg-img-color;
    }
}

.empty-msg {
    .empty-msg-title {
        font-weight: bold;
    }
}

.form-input {
    position: relative;
}

.form-input-prefix, .form-input-suffix {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;

    & > svg {
        width: 0.8rem;
        height: 0.8rem;
    }

    .disabled & {
        svg {
            color: $input-disabled-text-color;
        }
    }
}

.suffix, .prefix {
    color: $input-presuffix-text-color;
}


.form-input-prefix {
    left: 0.5rem;
}

.form-input-suffix {
    right: 0.5rem;

    & > * + * {
        // Space between suffixes
        margin-left: 0.2rem;
    }

}

.reset-btn {
    padding: 0 !important;

    > svg {
        margin: 0 !important;
        width: 1rem !important;
        height: 1rem !important;
    }
}

.form-input-tools {
    cursor: pointer;
    user-select: none;
    line-height: 1em;
    display: inline-block;
    vertical-align: text-top;
    position: relative;

    .ico-up {
        display: block;
    }

}
// Textarea - Readonly
.textarea {
    .txtb-ro span {
        white-space: break-spaces;
    }
}

// ===== FormTracker pending change indicator ======

.field-change .change-indicator::after {
    content: "";
    background: imageName($unsavedchange-icon, $unsavedchange-color) 0 0 no-repeat;
    margin: 0 0 0 0.35em;
    height: 1em;
    width: .85em;
    display: inline-block;
    vertical-align: middle;
}
// =====
