@namespace Lagoon.UI.Components.Internal
@inherits ComponentBase

<div class="form-input colorPickerBox form-group">
    <div class="@GetClassAttribute()">
        <div style="@($"background-color:{CellValue};")" class="btn colorPickerBox selected-box" />
    </div>
</div>