// Use RGAA compatible style
$custom-rgaa: true;
// Label position
$custom-label-outside: false;
// Set the authentication logo
$auth-logo: "~/images/auth-logo.png";
// Set the header logo
$header-logo: "~/images/header-logo.png";
