@using Lagoon.UI.Components
@namespace Lagoon.UI.Leaflet.Components

@inherits LgComponentBase

<!-- You must wrap the map component in a container setting its actual size. -->
<div class="@GetClassAttribute()">
    <div id="@Map.Id" style="width: 100%; height: 100%;"></div>
</div>
