@namespace Lagoon.UI.Components
@using Lagoon.UI.Components.Internal
@inherits LgSearchNavigation<LgPageLink>

<li class="nav-item" role="presentation">
    @{ base.BuildRenderTree(__builder); }
</li>