.body-policy {
    font-size: $font-size-text;
    line-height: $line-height-text;
    color: $text-color;
    font-weight: $font-weight-text;
}

.legend-policy {
    font-size: $font-size-legend;
    line-height: $line-height-legend;
    color: $legend-color;
    font-weight: $font-weight-legend;
}