.tbl-grp-primary {
    background-color: $primary3;
}
.tbl-grp-secondary {
    background-color: $secondary;
}
.tbl-grp-danger {
    background-color: $danger;
}
.tbl-grp-info {
    background-color: $info;
}
.tbl-grp-success {
    background-color: $success;
}
.tbl-grp-warning {
    background-color: $warning;
}
.tbl-grp-ghost {
    background-color: transparent;
}