@inherits DemoPage

<LgFrame Title="#sideTabStructureApp">
    <div class="flex-row">
        <LgHyperlink Uri="demo/showcase/Breadcrumb"><LgLabel Text="Breadcrumb," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Tab"><LgLabel Text="Tab" /></LgHyperlink>
    </div>
</LgFrame>

<LgFrame Title="#sideTabStructurePage">
    <div class="flex-row">
        <LgHyperlink Uri="demo/showcase/Accordion"><LgLabel Text="Accordion," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Card"><LgLabel Text="Card," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Finder"><LgLabel Text="Finder," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Frame"><LgLabel Text="Frame," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Pager"><LgLabel Text="Pager" /></LgHyperlink>
    </div>
</LgFrame>

<LgFrame Title="#sideTabPresentationInfo">
    <div class="flex-row">
        <LgHyperlink Uri="demo/showcase/ActionPanel"><LgLabel Text="Action Panel," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/BigMessage"><LgLabel Text="Big message," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/EmptyMessage"><LgLabel Text="Empty message," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Calendar"><LgLabel Text="Calendar," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Modal"><LgLabel Text="Modal," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/ListView"><LgLabel Text="ListView," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Title"><LgLabel Text="Title," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/GridViewBasic"><LgLabel Text="Gridview" /></LgHyperlink>
    </div>
</LgFrame>

<LgFrame Title="#sideTabUserInteraction">
    <div class="flex-row">
        <LgHyperlink Uri="demo/showcase/Button"><LgLabel Text="Button," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/CheckBox"><LgLabel Text="CheckBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/ColorPicker"><LgLabel Text="Color Picker," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/CopyPaste"><LgLabel Text="Copy/Paste," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/DateBox"><LgLabel Text="DateBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/HtmlEditor"><LgLabel Text="HtmlEditor," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/InputFile"><LgLabel Text="InputFile," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/NavHyperLink"><LgLabel Text="HyperLink," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/NumericBox"><LgLabel Text="NumericBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/RadioButton"><LgLabel Text="RadioButton," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Select"><LgLabel Text="Select," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/TimeBox"><LgLabel Text="TimeBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/TagBox"><LgLabel Text="TagBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/TextBox"><LgLabel Text="TextBox," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Toastr"><LgLabel Text="Toastr," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Toolbar"><LgLabel Text="Toolbar," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Tooltip"><LgLabel Text="Tooltip," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/WorkScheduler"><LgLabel Text="Work Scheduler" /></LgHyperlink>
    </div>
</LgFrame>

<LgFrame Title="#sideTabFeedback">
    <div class="flex-row">
        <LgHyperlink Uri="demo/showcase/Banner"><LgLabel Text="Banner," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Loader"><LgLabel Text="Loader," /></LgHyperlink>
        <LgHyperlink Uri="demo/showcase/Progress"><LgLabel Text="Progress" /></LgHyperlink>
    </div>
</LgFrame>
