@inherits DemoPage

<LgTitle Text="#lblTitlePageNotif" CssClass="d-inline-block"></LgTitle>
<LgHyperlink Uri="@DocumentationLink()" Target="_blank" CssClass="mb-2 d-inline-block float-right"><LgButton Text="#lblDoc" /></LgHyperlink>

<LgFrame Title="#lblSample">
    <br />
    <p>
        @("lblNotificationDesc".Translate())
    </p>
</LgFrame>


