@inherits DemoPage
@using Lagoon.UI.Leaflet.Components;

<LgTitle Text="Leaflet" CssClass="d-inline-block"></LgTitle>
<LgHyperlink Uri="@DocumentationLink()" Target="_blank" CssClass="mb-2 d-inline-block float-right"><LgButton Text="#lblDoc" /></LgHyperlink>

<LgFrame Title="#lblSample">
    <LgLeafletMap Map="@_map" CssClass="map"></LgLeafletMap>
</LgFrame>

<LgFrame Title="#lblParameters" Collapsable="true">
    <section class="d-flex align-items-center col-md-12 col-sm-12">
        <LgButton CssClass="mr-1" OnClick="PanToNY" Text="#PanToNY"></LgButton>
        <LgButton CssClass="mr-1" OnClick="SetMaxBounds" Text="#SetMaxBounds"></LgButton>
        <LgButton CssClass="mr-1" OnClick="DisableMaxBounds" Text="#DisableMaxBounds"></LgButton>
        <LgButton CssClass="mr-1" OnClick="AddSearchControl" Text="#AddSearchControl"></LgButton>
        <LgButton CssClass="mr-1" OnClick="AddOsrmRoutingControl" Text="#AddOsrmRoutingControl"></LgButton>
        <LgButton CssClass="mr-1" OnClick="AddMapBoxRoutingControl" Text="#AddMapBoxRoutingControl"></LgButton>
    </section>
</LgFrame>

<SourceCode SourceCodeProvider="GetSourceCodeProvider()" />

<style>
    .map-icon {
        height: 75px;
        width: 75px;
        object-fit: contain;
        /* wonky placement as described in the Leaflet documentation*/
        margin-left: -37px;
        margin-top: -37px;
    }

    .map {
        height: 600px;
    }
</style>
