<!DOCTYPE html>
<html>
<head>
	<title>Working...</title>
</head>
<body>
	<form method="POST" name="frmSAML" action="{CallbackUrl}">
		<input type="hidden" name="SAMLResponse" value="{SAMLResponse}" />
		<input type="hidden" name="RelayState" value="{RelayState}" />
		<noscript>
			<p>Script is disabled. Click Submit to continue.</p>
			<input type="submit" value="Submit" />
		</noscript>
	</form>
	 <script language="javascript">window.setTimeout('document.forms[0].submit()', 0);</script> 
</body>
</html>