@namespace Lagoon.UI.Components.Internal
@inherits LgAriaComponentBase

<div class="tab-content lg-tab-cnt">
    <CascadingValue Value="this" IsFixed="true">
        <LgTabContainerBody />
    </CascadingValue>
</div>
