@inherits DemoPage

<div class="row">
    <div class="col-10"><LgTitle Text="#grdFilterTitle" /></div>
    <div class="col-2 text-right"><LgHyperlink Uri="@DocumentationLink()" Target="_blank"><LgButton Text="#lblDoc" /></LgHyperlink></div>
</div>

<LgGridView StateId="gvDemoFilterSort" Items="Data" TItem="GridViewData" Features="GridFeature.Sort | GridFeature.Filter" ShowFiltersSummary="true" DefaultShowFilters="true" ShowFiltersChanged="FiltersVisibilityHasChanged">
    <Columns Context="GridViewData">
        <LgGridNumericColumn @bind-Value="GridViewData.Id" Title="Id" Resizable="false"></LgGridNumericColumn>
        <LgGridColumn @bind-Value="GridViewData.Name" Title="#grdNameCol" DefaultSortDirection="DataSortDirection.Asc" Resizable="false"></LgGridColumn>
        <LgGridColumn @bind-Value="GridViewData.Surname" Title="#grdSurnameCol" Resizable="false"></LgGridColumn>
        <LgGridDateColumn @bind-Value="GridViewData.BirthDate" Title="#grdBirthDateCol" DisplayFormat="yyyy-MM-dd" Resizable="false"></LgGridDateColumn>
        <LgGridNumericColumn @bind-Value="GridViewData.Weight" Title="#grdWeightCol" Resizable="false" DefaultFilter="_defautFilter"></LgGridNumericColumn>
        <LgGridColumn @bind-Value="GridViewData.Mail" Title="#grdMailCol" Resizable="false"></LgGridColumn>
        <LgGridEnumColumn @bind-Value="GridViewData.HairColor" Title="#grdHairColorCol" Resizable="false"></LgGridEnumColumn>
        <LgGridColorColumn @bind-Value="GridViewData.FavoriteColor" Title="#grdFavColorCol" Resizable="false"></LgGridColorColumn>
        <LgGridBooleanColumn @bind-Value="GridViewData.HasGlasses" Title="#grdGlassesCol" Resizable="false"></LgGridBooleanColumn>
        <LgGridNumericColumn @bind-Value="GridViewData.PrefixSuffixGrid" Resizable="false" Title="#grdNumCol" PrefixType="InputLabelType.IconName" Prefix="@IconNames.About" SuffixType="InputLabelType.Text" Suffix="Texte"></LgGridNumericColumn>
    </Columns>
</LgGridView>

<SourceCode SourceCodeProvider="GetSourceCodeProvider()" />

