@inherits DemoPage

<div class="row">
    <div class="col-10"><LgTitle Text="#grdResizeTitle" /></div>
    <div class="col-2 text-right"><LgHyperlink Uri="@DocumentationLink()" Target="_blank"><LgButton Text="#lblDoc" /></LgHyperlink></div>
</div>

<LgGridView StateId="gvDemoResize" Items="Data" TItem="GridViewData" Features="GridFeature.Resize | GridFeature.Freeze | GridFeature.Move">
    <Columns Context="GridViewData">
        <LgGridNumericColumn @bind-Value="GridViewData.Id" Title="Id" Resizable="false" ></LgGridNumericColumn>
        <LgGridColumn @bind-Value="GridViewData.Name" Title="#grdNameCol" DefaultFrozen="true"></LgGridColumn>
        <LgGridColumn @bind-Value="GridViewData.Surname" Title="#grdSurnameCol"></LgGridColumn>
        <LgGridDateColumn @bind-Value="GridViewData.BirthDate" Title="#grdBirthDateCol" DisplayFormat="yyyy-MM-dd"></LgGridDateColumn>
        <LgGridNumericColumn @bind-Value="GridViewData.Weight" Title="#grdWeightCol"></LgGridNumericColumn>
        <LgGridEnumColumn @bind-Value="GridViewData.HairColor" Title="#grdHairColorCol"></LgGridEnumColumn>
        <LgGridColorColumn @bind-Value="GridViewData.FavoriteColor" Title="#grdFavColorCol"></LgGridColorColumn>
        <LgGridColumn @bind-Value="GridViewData.Mail" Title="#grdMailCol"></LgGridColumn>
        <LgGridBooleanColumn @bind-Value="GridViewData.HasGlasses" Title="#grdGlassesCol"></LgGridBooleanColumn>
        <LgGridNumericColumn @bind-Value="GridViewData.PrefixSuffixGrid" Resizable="false" Title="#grdNumCol" PrefixType="InputLabelType.IconName" Prefix="@IconNames.About" SuffixType="InputLabelType.Text" Suffix="Texte"></LgGridNumericColumn>
    </Columns>
</LgGridView>

<SourceCode SourceCodeProvider="GetSourceCodeProvider()" />

